body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  border: 2px solid #2b946d;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

#display {
  border: 2px solid #208e81;
  width: calc(100% - 10px);
  height: 40px;
  margin-bottom: 10px;
  font-size: 24px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  border: 2px solid #1d847a;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
