* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
header nav {
  background-color: rgb(255, 0, 174);
  margin: 10px;
  padding: 10px;
}
nav .nav-bar .head a {
  text-decoration: none;
  color: black;
  gap: 30px;
  font-weight: 500;
  font-size: larger;
  padding: 20px;
}
header :hover {
  background-color: white;
}
nav .nav-bar .head :hover {
  color: rgb(255, 196, 0);
}
header nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.nav-bar {
  display: flex;
}

.head {
  margin-right: 20px;
}

.head:last-child {
  margin-right: 0; /* Removes margin from the last navigation item */
}

.about {
  padding: 10px;
  margin: 10px;
}
.about .name span {
  color: rgb(255, 0, 174);
}
.about .summary {
  display: flex;
  gap: 10px;
  font-size: large;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 30px;
}
.about .summary img {
  border: transparent;
  border-radius: 10px;
  transition-property: width, height;
  transition-duration: 2s;
  width: auto;
  height: auto;
  padding-right: 100px;
}
.about .summary p {
  padding-left: 100px;
  width: 60%;
  height: auto;
}
.about .summary img :hover {
  width: 100%;
  height: 100%;
}

.skills {
  margin: 10px;
}
.skills .skill .progress .progress-bar {
  width: 50%;
  height: 80%;
}

.projects .pro {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  min-height: 100vh;
}
.projects .pro .container {
  border: 7px solid rgb(255, 0, 136);
  border-radius: 20px;
  width: 30%;
  transition-property: all;
  transition-duration: 2s;
  background-color: rgb(253, 218, 230);
}
.projects .pro .container :hover {
}
.projects .pro .container img {
  margin: 10px;
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

.projects .pro .container:hover {
  border: none;
}

.achiv {
  padding: 10px;
  margin: 10px;
}
.achiv .achivcard {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  border: 10px solid rgb(255, 0, 174);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(253, 250, 218);
  color: rgb(255, 0, 191);
}

.flip-card-back {
  background-color: rgb(253, 250, 218);
  color: rgb(255, 0, 179);

  transform: rotateY(180deg);
}
.flip-card-front h1 {
  margin-top: 50%;
  background-color: rgb(255, 0, 183);
  color: rgb(218, 232, 253);
  align-content: center;
  justify-content: center;
}
.flip-card-back h4 {
  margin-top: 50%;
  align-content: center;
  justify-content: center;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 0, 174);
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  color: black;
  padding: 12px 20px;
  border: 2px solid rgb(255, 0, 174);
  border-radius: 4px;
  cursor: pointer;
  float: right;
  background-color: rgb(218, 227, 253);
}

input[type="submit"]:hover {
  border: none;
}

.container {
  border-radius: 5px;
  background-color: rgb(218, 229, 253);
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
